
.umm{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.lessons{
    display: none;
    position: fixed;
    left: 12px;
}
.aside{
    position: absolute;
    left: 0;
    width: 20%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: whitesmoke;
    position: fixed;
    overflow-y: scroll;
}
.aside li{
    list-style: none;
    display: flex;
    color: green;
    font-size: 3vmin;
    font-family: 'Courier New', Courier, monospace;
}
.aside img{
    width: 30px;
    height: 30px;
}
.main{
    position: absolute;
    right: 10%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.main textarea{
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
    background: whitesmoke;
    border-radius: 10px;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.856);
    font-size: 4vmin;
    padding: 10px;
    margin-top: 10px;
    color: green;

}
.main .btn{
    width: 60%;
    height: 50px;
    background: yellow;
    border: none;
    border-radius: 20px;
    box-sizing : rgb(rgba(245, 245, 245, 0.795), rgba(245, 245, 245, 0.795));
    color: white;
    font-weight: 900;
    font-size: 5vmin;
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    margin-top: 20px;
}
.main .btn:hover{
    font-size: 4vmin;
    font-weight: 900;
    text-decoration: none;
    color: green;
    font-size: 5vmin;
    background: red;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    transition: all 1s ease;
    padding: 5px;
}


/* mobile */

@media (max-width: 767px) {
    .bt{
        display: block;
    }
    .aside{
        width: 80%;
        height: max-content;
        overflow: visible;
    }
}  .content{
    overflow: visible;
    width: 90vw;
    height: max-content;
    overflow: block;
    background-color: yellow;
}
main{
    width: 80%;
}